// Overrides and adds customized styles in this file
// Read more on documentation:
// * English: https://github.com/consul/consul/blob/master/CUSTOMIZE_EN.md#css
// * Spanish: https://github.com/consul/consul/blob/master/CUSTOMIZE_ES.md#css
//

/*************************************************/
/* 
/*  Table of content
/*
/*  00. Basics
/*  01. Margins
/*  02. Header
/*  03. Navbar
/*  04. Footer
/*  05. Welcome / Call action
/*  06. Images
/*  07. Auth page
/*  08. Budgets page
/*  09. Jumbo Budget
/*
/*************************************************/


/*************************************************/
/* 00. Basics */
/*************************************************/
a:focus {
  outline: none;
}
.push {
  min-height: 50px;
}

.home-page {
  margin-left: 5px;
}
@media print, screen and (min-width: 40em){
  .home-page {
    margin-left: 0px;
  }
}
.row .row {
  @include breakpoint(small only) {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.text-italic {
  font-style: italic;
}
.text-underline {
  text-decoration: underline;
}

.d-block {
  display: block;
}
img.d-block {
  text-align: center;
  margin: 0 auto;
}

/*************************************************/
/* 01. Margins */
/*************************************************/
.mt-50 {
  margin-top: 50px;
}
.mb-30 {
  margin-bottom: 30px;
}
.m-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}
.mt-0 {
  margin-top: 0px;
}
.m-initial {
  margin: initial;
}

/*************************************************/
/* 02. Header */
/*************************************************/
header {
  background: #fff;
  border-bottom: 1px solid $border;
  margin-bottom: $line-height;

  .top-links {
    background: $dark;
  }

  .selected {
    border-bottom: 1px solid #fff;
  }

  .locale {
    float: left;
    height: $line-height * 1.5;
    margin-left: $line-height / 2;
  }

  .external-links {
    float: none;
    padding: rem-calc(6) 0;
    text-align: center;

    @include breakpoint(medium) {
      float: right;
    }
  }
}
.wrapper-image-fullwidth {
  width: 100%;
  max-width: 100%;

  img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }
}
#header-img {
  background-image: image-url("top_header_3.jpg");
  height: 500px;
  background-size: cover;
  background-position: center;
  margin-top: -$line-height;
  position: relative;

  h1 {
    text-align: center;
    margin-top: 175px;
    background: $dark;
    color: #fff;
    padding: 15px;
    font-size: 27px;
  }
  .title-top-header {
    width: 100%;
    position: absolute;
    bottom: 90px;
    right: 0px;
  }
}

.title-header {
  text-align: center;
  font-size: 20px;
  max-width: 460px;
}

.title-header h1 {
  margin: 0px;
}
@include breakpoint(medium only) {
  .title-header {
    font-size: 15px;
  }
  .title-header h1,.title-header .h1 {
    font-size: 2rem;
  }
}
@include breakpoint(small only) {
  .title-header {
    font-size: 10px;
  }

 .title-header h1,.title-header .h1 {
    font-size: 1.5rem;
  }

}


/*************************************************/
/* 03. Navbar */
/*************************************************/

.info-link a {
   color: #fff !important;
}

.menu-icon.dark::after {
  background: $brand;
  -webkit-box-shadow: 0 7px 0 $brand, 0 14px 0 $brand;
  box-shadow: 0 7px 0 $brand, 0 14px 0 $brand;
}
.menu-icon.dark:hover::after {
  background: black;
  -webkit-box-shadow: 0 7px 0 black, 0 14px 0 black;
  box-shadow: 0 7px 0 black, 0 14px 0 black;
}

.subnavigation {
  background: $dark !important;
  
  @include breakpoint(medium) {
    background: $light;
    color: $text;
    padding-bottom: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    display: table;
    width: 100%;
      @include breakpoint(small only) {
        padding-right: 0px;
      }

    li {
      /*border-left: 1px solid $light;*/
      vertical-align: middle;
      background: $dark;
      margin-right: 0px !important;
      position: relative;

      @include breakpoint(medium) {
        display: table-cell;
        margin-right: rem-calc(20);
      }
      @include breakpoint(small only) {
        border-left: none;
        padding-left: 10px;
      }

      a {
        color: #fff;
      }
    }
    li:first-child {
      border-left: none;
    }
    li:hover {
      background: $brand;

      a {
        color: #fff;
      }
    }
    li.parent:before {
      @include breakpoint(small only){
        position: absolute;
        top: 20px;
        right: 30px;
        border-top: 8px solid #fff;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        content: "";
        display: block;
      }
    }
    li.parent.is-active:before {
      display: none;
    }
    li.parent.is-active:after {
      @include breakpoint(small only) {
        position: absolute;
        top: 20px;
        right: 30px;
        border-bottom: 8px solid #fff;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        content: "";
        display: block;
      }
    }

    li > ul {
      display: none;
      position: absolute;
      width: auto;
      z-index: 999;

      @include breakpoint(small only){
        width: calc(100% - 5px);
      }
    }
    li:hover > ul {
      display: block;

      @include breakpoint(small only){
        position: relative;
      }

      li {
        display: block;
        background: $brand;
        border-top: 1px solid #fff;
        white-space: nowrap;
        a {
          text-align: left;
        }
      }
    }
  }

  a { 
    color: #fff;
    display: inline-block;
    line-height: $line-height * 2;
    padding: 0px 10px;
    position: relative;
    text-align: center;
    width: 100%;
    font-weight: normal;
    text-transform: uppercase;
    font-size: $small-font-size;

    @include breakpoint(medium) {
      color: $text;
      display: block;
      width: auto;

      &:hover {
        /*color: $text;*/
      }
    }
    @include breakpoint(small only) {
      color: $text;
      text-align: left;
      padding-left: 0px;
      text-transform: capitalize;
      font-size: 17px;
    }

    &.is-active {
      color: #fff !important;

      @include breakpoint(medium) {
        border-bottom: 2px solid $brand;
        color: $brand;
      }
    }
  }

  .input-group {
    padding-top: $line-height / 4;

    @include breakpoint(medium) {
      margin-bottom: 0;
    }
  }

  .input-group-field {
    margin-bottom: 0 !important;
  }

  .input-group-button {
    line-height: $line-height * 1.5;
    padding-bottom: 0;

    button {
      background: $border;
      border: 1px solid #ccc;
      border-left: 0;
      color: $text;
      height: $line-height * 1.5;
      line-height: $line-height * 1.5;
      padding-top: 0;
    }
  }

  input {
    height: $line-height * 1.5 !important;
    margin-bottom: 0;
    margin-right: 0;
    width: 100%;
  }

  .column {
    @include breakpoint(small only) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

@media print, screen and (min-width: 40em){
  .subnavigation ul li {
      display: inline-block;
  }
}

.top-bar-right {
  
  .is-active {
    font-weight: bold;
    text-decoration: underline;
  }

  .menu {
    @include breakpoint(small only) {
      padding-right: 0px;
    }

  }
}

.submenu {
  border-bottom: 1px solid $border;
  clear: both;
  margin-bottom: $line-height / 2;

  a {
    color: $text;
    display: inline-block;
    font-weight: bold;
    margin-right: $line-height / 2;
    position: relative;
    text-align: left;

    @include breakpoint(medium) {
      margin-right: $line-height;
    }

    &:hover {
      color: $link;
    }
  }

  .is-active {
    border-bottom: 2px solid $brand;
    color: $brand;

    &:hover {
      text-decoration: none;
    }
  }

  h2 {
    font-size: $base-font-size;
  }
}

header {
    background: #fff;
}
.top-bar {
  background: #fff !important;
  color: #0a0a0a;

  @include breakpoint(medium) {
    padding: 0;
  }
  @include breakpoint(small only) {
    padding-right: 1.0rem;
    
    #responsive-menu {
      display: block;
      width: 100%;
    }
  }

  .menu > li a {
    color: #0a0a0a;

    @include breakpoint(small only) {
      color: $text;
      padding-left: 10px;
    }

  }
  .menu > li .button {
      background: $brand;
      color: #fff;
      @include breakpoint(small only) {
        padding-left: 10px;
      }
  }

  .top-bar-title {
    line-height: $line-height;

    a img {
      height: 65px;
      margin: 0;
      width: auto;

      @include breakpoint(medium up) {
        height: 100px;
      }
    }
  }
}

.search-form-header [type=text] {
  max-width: none;
}




/*************************************************/
/* 04. Footer */
/*************************************************/
footer {
  color: $text;
  min-height: inherit;

  .logo a {
      text-decoration: none;
      font-weight: bold;

      &:hover {
      text-decoration: underline;
      }
  }

  p {
      font-size: $small-font-size;

      &.info a {
      text-decoration: underline;
      }
  }

  a,
  a:active,
  a:focus {
      color: $text;
      text-decoration: underline;

      &:hover {
      color: $black;
      }
  }

  .footer-sections {
      padding-left: 0;
  }

  .title {
      font-weight: bold;
      text-decoration: none;
      border-bottom: 2px solid $footer-border;
  }
}

.footer {
background: $footer-background;
margin-top: $line-height * 2;
padding-top: $line-height;
border-top: 6px solid $footer-border;
position: relative;

@include breakpoint(small only) {
  .column {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
}

.subfooter {
  background: $footer-border;
  font-size: $small-font-size;
  padding-top: $line-height / 2;
  max-width: initial;
  position: absolute;
  bottom: 0px;
  width: 100%;

  .social-icons {
    a > span {
      font-size: 35px;
    }
  }

  @include breakpoint(small only) {
    position: relative;

    .column {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
  .container {
    max-width: 75rem;
    margin: 0 auto;
  }
}

.container-subfooter {
  max-width: 75rem;
  display: block;
  margin-right: auto;
  margin-left: auto;

  ul.footer-links {
    display: table;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0.5rem;

    li {
      display: table-cell;
      border-left: 1px solid $text;
      text-align: center;

      a {
        text-decoration: none;

        &:hover {
          color: $brand;
        }
      }
    }
    li:first-child {
      border-left: none;
    }
  }
  .social {
    div.text-right {
      text-align: center;
    }
  }
}

/*************************************************/
/* 05. Welcome / Call Action */
/*************************************************/
.call-action {
  height: auto;
  /*background: #F6F4F4;*/
  padding: 30px 0px;

  a.call-action-block {
    display: block;
    border-radius: 13px;
    border: 1px solid #dee0e3;
    margin: 20px 0px;
    cursor: pointer;
    background: white;

    .wrapper {
      display: initial;

      div.row {
        height: 100%;
      }
      div.column {
        position: relative;
        height: 100%;
      }

      h3 {
        color: $brand;
        margin: 15px;
      }

      p {
        font-size: 14px;
        line-height: 17px;
        color: $text;
        margin: 10px;
        margin: 15px;
        margin-top: 0px;
      }
      button {
        background: $brand;
        color: $light;
        border-radius: 6px;
        margin: 15px;
        padding: 10px 30px;
        cursor: pointer;
        bottom: 75px;
      }
      img {
        float: right;
      }
      .img-small > img {
        margin-top: 25px;
      }
      .img-large > img {
        margin-top: -45px;
      }
    }

    &:hover {
      background: $border;
      text-decoration: none;

      button {
        background: $dark;
        color: $light;
      }
    }

  }
  a.call-action-block.bg-image {
    position: relative;
    text-align: center;
    height: 250px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    h3 {
      position: absolute;
      top: 25%;
      background: rgba(255,255,255,0.66);
      padding: 15px;
      border-radius: 0px 3px 3px 0px;
      margin: 0 auto;
    }

    &:hover {
      h3 {
        background: $brand;
      }
    }
  }
  .call-action-video iframe {
    height: 250px;
    margin: 20px 0px;
  }
  .call-action-main-title {
    font-size: 30px;
    color: $brand;
  }
}


/*************************************************/
/* 06. Images */
/*************************************************/
.img-text {
  width: 100%;
  max-width: 250px;
  margin: 30px;
}
.img-medium-300 {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
}
.icon-subnavigation {
  display: inline-block;
  top: 3px;
  position: relative
}
.icon-subnavigation ~ a {
  display: inline-block;
  width: initial;
}


/*************************************************/
/* 07. Auth page */
/*************************************************/
.auth-image h1 {
  /*background: rgba(255,255,255,0.33);*/
}


/*************************************************/
/* 08. Budgets page */
/*************************************************/
.expanded.budget {
  background: $footer-border;
}
.expanded.budget .info {
  background: $footer-border-dark;
}
.expanded.budget .button {
  color: $footer-border;
}
.budget-timeline {
  border-left: 3px solid $footer-border;
  
  .phase.is-active {

    &::before {
      background-color: $footer-border;
    }

    h3 {
      background: $footer-border;
    }
  }
  .phase::before {
    border: 4px solid $footer-border;
  }
}


/*************************************************/
/* 09. Jumbo Budget */
/*************************************************/
.jumbo-budget {
  background-color: #4293b1;
}