<div class="row section-content">
  <div class="small-12 column">
    <h3 id="budgets" data-magellan-target="budgets">
      Procesos Participativos - <%= t("pages.help.budgets.title") %>
    </h3>
    <p>
      Los Presupuestos Participativos son procesos relacionados con <b>proyectos de gastos</b> y están definidos como procesos de participación ciudadana.
      <br>
      La finalidad de los Presupuestos Participativos es que <b>la ciudadanía pueda determinar y decidir el fin y la utilización de parte de los recursos públicos</b> que se materializará en actuaciones e inversiones del Ayuntamiento en el municipio y sus barrios.
    </p>
    <p>
      <%= link_to "Ir a Presupuestos Participativos", budgets_path%>
    </p>
  </div>
</div>