<div class="row section-content">
  <div class="small-12 column">
    <h3 id="budgets" data-magellan-target="budgets">
      Procesos Participativos - <%= t("pages.help.budgets.title") %>
    </h3>
    <p>
      Los Presupuestos Participativos <span class="text-underline">son procesos relacionados con <b>proyectos de gastos</b> y están definidos como procesos de <b>participación ciudadana</b>.</span>
    </p>
    <p>
      La <span class="text-underline text-bold">finalidad</span> de los Presupuestos Participativos es que <b>la ciudadanía pueda determinar y decidir el fin y la utilización de parte de los recursos públicos</b> que se materializará en actuaciones e inversiones del Ayuntamiento en el municipio y sus barrios.
    </p>
    <p>
      Las Concejalías por separado, o el Equipo de Gobierno de Granada en su conjunto, y dentro de su ámbito competencial, podrán establecer procesos de participación ciudadana que contribuyan a la priorización sobre aspectos puntuales del gasto cuya incorporación se prevea efectuar en sus anteproyectos de estados de gastos del presupuesto.
    </p>
    <p>
      <span class="text-underline text-bold">Los presupuestos participativos que se deciden en un año, se ejecutarán a partir del siguiente año</span>. Estos presupuestos se dotan de una cantidad económica que puede constar de una o de más de una partida.
    </p>
    <p>
      La <span class="text-underline text-bold">viabilidad</span> de un Presupuesto Participativo se determina en función de su definición y contenido, análisis, apoyos, evaluación y de su proyecto de gasto asociado. 
    </p>
    <p>
      <span class="text-underline text-bold">Fases</span>: un proceso de Presupuesto Participativo puede constar de las siguientes <b>fases secuenciadas*</b>: 

      <ul>
        <li>
          <b>1ª:Información</b>: presentación pública de la información del Presupuesto Participativo.
        </li>
        <li>
          <b>2ª:Presentación de proyecto</b>: en la que se recogen las propuestas de gasto de la vecindad de Granada. 
        </li>
        <li>
          <b>3ª:Revisión interna de proyecto</b>: análisis y cumplimiento de los requisitos por parte de las propuestas.
        </li>
        <li>
          <b>4ª:Fase de apoyos</b>: votación de las propuestas por parte de la ciudadanía.
        </li>
        <li>
          <b>5ª:Evaluación de proyectos</b>: seguimiento y evaluación del estado de las actuaciones acordadas. Resultados.
        </li>
      </ul>

      <span class="text-italic">* Cada fase esta delimitada por su fecha de inicio y su fecha de fin.</span>
    </p>

    <p>
      <%= link_to "Ir a Presupuestos Participativos", budgets_path%>
    </p>
  </div>
</div>