<div class="row section-content">
  <div class="small-12 column">
    <h3 id="debates" data-magellan-target="debates">
      Procesos Participativos - <%= t("pages.help.debates.title") %>
    </h3>
    <p>
      Son actos delimitados en el tiempo y dirigidos a la <b>escucha activa</b> por parte de la entidad local con el fin de promover la deliberación y el contraste de argumentos entre la ciudadanía o entre esta y los responsables municipales que determinan actuaciones municipales. El Debate Público como proceso de deliberación participativa contrasta argumentos y motivaciones expuestos en el mismo con el objetivo de <b>conocer los intereses y las posiciones de la ciudadanía</b>. 
    </p>
    <p>
      <%= link_to "Ir a Debates Públicos", debates_path%>
    </p>
  </div>
</div>