<div class="row section-content">
  <div class="small-12 column">
    <h3 id="debates" data-magellan-target="debates">
      Procesos Participativos - <%= t("pages.help.debates.title") %>
    </h3>
    <p>
      El Debate Público es una secuencia de actos, delimitados en el tiempo y dirigidos a la escucha activa por parte de la entidad local, con el objetivo de promover la deliberación y el contraste de argumentos entre la ciudadanía o entre esta y los responsables municipales, con el fin de recoger las motivaciones expuestas en un debate público integrado en un proceso de decisión o en el marco de la formulación o adopción de una determinada actuación municipal. 
    </p>
    <p>
      ​​​​​​Se podrá desarrollar mediante los instrumentos y las formas que mejor convengan y se ajusten a las necesidades y objetivos de la temática a tratar, cabiendo en este tipo amplio de proceso, las Consultas Públicas Previas (de Procedimiento Administrativo Común de las Administraciones Públicas), todo tipo de foros de discusión, talleres, presentaciones telemáticas de opiniones, videoconferencias, audiencias públicas, paneles y jurados ciudadanos u otras formas similares de deliberación que aseguren la libre expresión de las opiniones y permitan la recopilación de las aportaciones a la materia. 
    </p>
    <p class="text-underline text-bold">
      Fases de participación:
    </p>
    <p>
      Las fases de participación constituyen los métodos mediante los cuales puedes participar en los Debates Públicos como procesos participativos. De esta forma, un Debate Público puede contener una o más de una de las siguientes <span class="text-underline">fases de participación*</span>:
      <ul>
        <li>
          <b>Apertura (Proceso)</b>: se presenta el Debate Público, detalles, información, preguntas y/ó propuestas correspondientes.
        </li>
        <li>
          <b>Desarrollo</b>: fase en la que la ciudadanía, dependiendo del tipo de Debate Público, podrá publicar respuestas abiertas a las preguntas del Debate Público (<b>Debate Previo</b>), crear propuestas y apoyar propuestas ya creadas (<b>Propuestas</b>).
        </li>
        <li>
          <b>Devolución y cierre</b>: una vez finalizado el Debate Previo y las Propuestas, el Ayuntamiento valorará el proceso y llevará a cabo las actuaciones que disponga.
        </li>
      </ul>
          
        <span class="text-underline text-italic">*cada fase de participación esta delimitada por su fecha de inicio y su fecha de fin.</span>
    </p>
    <p class="text-underline text-bold">
      Fases funcionales:
    </p>
    <p>
      Las fases de participación descritas están relacionadas con determinadas fases funcionales de un Debate Público. Los debates públicos, adaptándose en cada caso a la forma que se acuerde, constan de una o más de una de las siguientes fases funcionales:

      <ul>
        <li>
          Fase de <b>información (Proceso)</b>: que difunde al conjunto de la ciudadanía afectada la materia o proyecto sobre el cual se pretende la participación, utilizando las técnicas metodológicas pertinentes.
        </li>
        <li>
          Fase de <b>debate y propuesta ciudadana (Desarrollo)</b>: que promueve el diagnóstico, la deliberación y propuestas de la ciudadanía.
        </li>
        <li>
          Fase de <b>devolución (Devolución y cierre)</b>: que traslada a las personas participantes y al conjunto de la ciudadanía el resultado del proceso. 
        </li>
        <li>
          Fase de <b>ejecución (Devolución y cierre)</b>: si procede, mediante la cual se adoptan los acuerdos necesarios en relación con el resultado del proceso.
        </li>
        <li>
          Fase de <b>revisión del proceso (Devolución y cierre)</b>: que evalúa el grado de cumplimiento de lo acordado en relación con lo finalmente ejecutado.
        </li>
      </ul>
    </p>


    <p>
      <%= link_to "Ir a Debates Públicos", legislation_processes_path%>
    </p>
  </div>
</div>