<div class="row section-content">
  <div class="small-12 column">
    <h3 id="polls" data-magellan-target="polls">
      Procesos Participativos - <%= t("pages.help.polls.title") %>
    </h3>
    <p>
      La votación popular es un <b>instrumento de participación ciudadana</b> que realiza el Ayuntamiento para conocer la opinión de un sector o colectivo de la población en materias de su competencia sobre asuntos de interés público que le afecten.
    </p>
    <p>
     La votación popular como proceso de participación que constituye se articula mediante un sistema de votación adaptado al sector o colectivo de la población que tenga interés directo en el tema objeto de la votación y en el que <span class="text-underline"><b>el voto es igual, libre, directo y secreto</b></span>; en la forma que se determine en el Acuerdo Básico Participativo.
    </p>
    <p class="text-underline">
      Una Votación Popular puede estar acotada a un Distrito determinado. Para votar en cualquier caso, habrá que estar empadronado/a en Granada.
      <br>
      Una Votación Popular puede realizarse también mediante participación presencial.
    </p>
    <p class="text-bold">
      Fases:
    </p>
    <p>
      Las fases que componen una Votación Popular electrónica son: presentación, apertura y votación.
      <ul>
        <li>
          <b>Presentación</b>: se informa del tema de la votación y del contenido de sus preguntas asociadas.
        </li>
        <li>
          <b>Apertura</b>: consiste en la publicación de la votación y de sus preguntas asociadas. Así cómo de su fecha de apertura y de su fecha de cierre.
        </li>
        <li>
          <b>Votación</b>: votación por parte de la ciudadanía.
        </li>
      </ul>
    </p>
    <p>
      <b>Resultado y cierre</b>: recuento público de los resultados y presentación de conclusiones. 
    </p>
    <p>
      <b>Acuerdo Básico Participativo</b>: el Acuerdo Básico Participativo de una votación debe recoger, además de los genéricos, los siguientes datos:
      <ul>
        <li>
          El número, la ubicación y el horario de los locales y las mesas de votación y su constitución, así como su ámbito territorial.
        </li>
        <li>
          La manera y los plazos en los que se tiene que celebrar el sorteo para designar a las personas miembros de las mesas de votación y su constitución.
        </li>
        <li>
          Los aspectos relativos al funcionamiento de las mesas de votación presenciales y electrónicas, así como las medidas de accesibilidad.
        </li>
      </ul>
    </p>

    <p>
      <%= link_to "Ir a Votaciones Populares", polls_path%>
    </p>
  </div>
</div>