<div class="row section-content">
  <div class="small-12 column">
    <h3 id="polls" data-magellan-target="polls">
      Procesos Participativos - <%= t("pages.help.polls.title") %>
    </h3>
    <p>
      La votación popular es un <b>instrumento de participación ciudadana</b> que realiza el Ayuntamiento para conocer la opinión de un sector o colectivo de la población en materias de su competencia sobre asuntos de interés público que le afecten. La votación popular como proceso de participación que constituye se articula mediante un sistema de votación adaptado al sector o colectivo de la población que tenga interés directo en el tema objeto de la votación y en el que <span class="text-underline"><b>el voto es igual, libre, directo y secreto</b></span>; en la forma que se determine en el Acuerdo Básico Participativo.
    </p>
    <p>
      <%= link_to "Ir a Votaciones Populares", polls_path%>
    </p>
  </div>
</div>