<div class="row section-content">
  <div class="small-12 column">
    <h3 id="processes" data-magellan-target="processes">
      <%= t("pages.help.processes.title") %>
    </h3>
    <p>
      En esta sección encontrará información sobre los distintos <b>Órganos de Participación</b>. 
    </p>
    <p class="text-italic">
      Los Órganos de Participación se constituyen con el fin de organizar y convocar reuniones para intercambiar opiniones, debatir, proponer y consensuar iniciativas y propuestas para ayudar al buen funcionamiento de la ciudad y de sus distritos. Proponer mejoras y soluciones colaborando activamente con la ciudadanía en definitiva para <b>mejorar la vida de los ciudadanos</b>.
    </p>
    <p>
      <span class="text-underline">Los Órganos de Participación se dividen en:</span>

      <ul>
        <li>
          <b>Juntas Municipales de Distrito.</b>
        </li>
        <li>
          <b>Consejo Municipal de Participación Vecinal.</b>
        </li>
        <li>
          <b>Consejos de Participación de Centros Cívicos.</b>
        </li>
        <li>
          <b>Consejo Social de la Ciudad.</b>
        </li>
        <li>
          <b>Consejos Sectoriales.</b>
        </li>
      </ul>
      
      <span class="text-italic">Cada uno de estos Órganos tiene una estructura definida y cumple unas funciones determinadas.</span>
    </p>

    <p>
      <%= link_to "Ir a Órganos de Participación", "/organos_de_participacion" %>
    </p>
  </div>
</div>